.hello{
    color: blue;background-color: chartreuse;
}
 .tillu{
    color:aqua;background-color: chocolate;
 } 
 .fine{
    color:cornsilk;background-color: chocolate;
 }     
.dad{color: darkgreen;background-color:aqua;

}
#good{
color: black;background-color: coral;
}
.bro{
color: cornflowerblue;background-color: aqua;
}